nav {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  a {
    color: $color-secondary;
    border-right: 1px solid $color-secondary;
    width: 20vw;
    text-align: center;
    padding: 0.8rem 0;
    font-family: 'font-primary';
  }

  a:last-of-type {
    border-right: 0;
  }

  a:hover {
    color: yellow;
  }
}