$breakpoint-mobil: 375px;        // 375-480
$breakpoint-tablet: 481px;       // 481-768
$breakpoint-laptop: 769px;       // 769-1024
$breakpoint-desktop: 1025px;     // 1025-1200
$breakpoint-xldesktop: 1201px;   // 1201-

// MOBILE FIRST MEDIA QUERY
@mixin screen($size, $type: min, $pixels: $breakpoint-mobil) {
  @if $size == 'tablet' {
    @media screen and (#{$type}-width: $breakpoint-tablet) {
        @content;
    }
  }
  @else if $size == 'laptop' {
    @media screen and (#{$type}-width: $breakpoint-laptop) {
        @content;
    }
  }
  @else if $size == 'desktop' {
    @media screen and (#{$type}-width: $breakpoint-desktop) {
        @content;
    }
  }
  @else if $size == 'xldesktop' {
    @media screen and (#{$type}-width: $breakpoint-xldesktop) {
        @content;
    }
  }
  @else if $size == 'custom' {
    @media screen and (#{$type}-width: #{$pixels}px) {
      @content;
    }
  }
  @else {
    @content;
  }
}

/*
@include screen(laptop) {
  width: 80vw;
}
*/