// FONT-SIZE
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

// FONT-FAMILY
$font-family-1: 'font-primary';
$font-family-2: 'font-secondary';

// SPACING
$spacing-sm: 0.2rem;
$spacing-md: 0.5rem;
$spacing-lg: 1rem;
$spacing-xl: 2rem;
$spacing-xxl: 5rem;

// TEXT-SHADOW
$text-shadow-sm: 0.05rem 0.05rem darkslategrey;
$text-shadow-md: 0.07rem 0.07rem darkslategrey;
$text-shadow-lg: 0.1rem 0.15rem darkslategrey;

// DROP-SHADOW
$drop-shadow-sm: drop-shadow(0.10rem 0.10rem 0.03rem darkslategrey);
$drop-shadow-md: drop-shadow(0.15rem 0.15rem 0.05rem darkslategrey);
$drop-shadow-lg: drop-shadow(0.20rem 0.20rem 0.07rem darkslategrey);