/* -------------------------------------------- */
/*
 @include flex(flex, column, center, flex-start)
*/
/* -------------------------------------------- */
/*
 @include spacing("margin", 1rem, "xy");
 @include spacing("padding", 0.5rem, "y");
*/
/* -------------------------------------------- */
/*
  .container-with-floated-children {
  @extend %clearfix;
  }
*/
/* -------------------------------------------- */
/*
  .image {
    @include image-2x('path/to/image.png', 100px, 50px);
  }
*/
/*
@include screen(laptop) {
  width: 80vw;
}
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
}

body {
  font-size: 15px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(17, 17, 17);
  color: whitesmoke;
}

ol, ul {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 100;
}

@font-face {
  src: url(../assets/fonts/Atomosfer.ttf);
  font-family: "font-primary";
}
@font-face {
  src: url(../assets/fonts/KonexyPersonalUse.otf);
  font-family: "font-secondary";
}
header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .img__cont {
  position: absolute;
  left: 1rem;
}
header .img__cont img {
  width: 2.5rem;
}
header .title__cont {
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .title__cont img {
  width: 25rem;
}

footer {
  height: 8vh;
  border-top: 1px dotted white;
  background-color: rgb(17, 17, 17);
  position: sticky;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .followme__cont h3 {
  font-family: "font-primary";
  font-weight: 800;
  margin: 1rem;
}
footer .sociallinks__cont {
  display: flex;
}
footer .sociallinks__cont img {
  width: 1.8rem;
  margin: 0 0.8rem;
}
footer .sociallinks__cont img:hover {
  scale: 1.2;
}

nav {
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a {
  color: whitesmoke;
  border-right: 2px solid whitesmoke;
  width: 25vw;
  text-align: center;
  padding: 0.1rem 0;
  font-family: "font-primary";
  font-weight: 800;
}
nav a:last-of-type {
  border-right: 0;
}
nav a:hover {
  color: yellow;
}

.about {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 769px) {
  .about {
    flex-direction: row;
  }
}
.about .about__bio__cont {
  height: 40%;
  width: 80%;
  display: flex;
  align-items: center;
  text-align: center;
}
.about .about__bio__cont p {
  font-family: "font-secondary";
}
@media screen and (min-width: 769px) {
  .about .about__bio__cont {
    width: 40%;
  }
}
.about .about__img__cont {
  border: 2px solid whitesmoke;
  height: 35%;
}
.about .about__img__cont img {
  height: 100%;
  width: auto;
}
@media screen and (min-width: 769px) {
  .about .about__img__cont {
    height: 60%;
  }
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.news .iframe__cont {
  width: 90vw;
  padding: 1rem 0;
}/*# sourceMappingURL=main.css.map */